.clubs-title {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    padding: 3rem 1rem 1rem 1rem;
    margin: 0 2.5rem;
    color: #282828;
}

.clubs-title span {
    color: #db5d4d;
}

.clubs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    margin: 3rem 0 5rem 0;
    padding: 2rem;
    gap: 2rem;
}

.club {
    background: #fff;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
}

.club-image {
    max-width: 300px;
}

.club-info {
    background: white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

.club-name {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 5px 0;
    color: #282828;
}

.club-desc {
    font-size: 16px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: rgb(60, 59, 59);
}

@media (max-width: 768px) {
    .clubs-title {
        margin: 0 1rem;
        padding: 2rem 0.5rem 0 0.5rem;
    }

    .clubs {
        padding: 0;
    }
}