.post-page{
    height: auto;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    place-items: center;
}

.post {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -16px 0px 63px -30px rgba(0, 0, 0, 0.6);
}

.posts-title {
    padding: 1rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #201f1f;
}
@media (max-width : 1150px) {
    .posts {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 0;
    }  
}
@media (max-width : 720px) {
    .post-page{
        display: none;
    }
}