.mainTitle {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Merriweather', sans-serif;
}

.aboutWord {
    color: #DB5D4D;
}

.heroText {
    text-align: justify;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    max-width: 1300px;
    padding: 2rem 1rem;
    margin: 0 auto;
    color: #282828;
    margin-bottom: 2rem;
}
.img_box {
    margin-top: 1rem;
}

.heroImg {
    display: block;
    margin: 0 auto;
    width: 55%;
    aspect-ratio: 1000 / 550;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@media (max-width:1000px) {
    .heroImg {
        width: 80%;
    }

    .heroText {
        padding: 1.5rem;
    }
}