.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;

}

.ruleBox {
    max-width: 1200px;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
    color: #444;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    padding-bottom: 2rem;
}

.heading {
    font-size: 1.5rem;
    margin: 1rem 3rem;
    color: #db5d4d;
}

.rule {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.arrow {
    padding: 0.25rem 1rem;
}