.card_box {
    padding: 1rem 0 2rem 0;
}

.card_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
    font-family: 'Roboto', serif;
}