.card_box {
    padding: 1rem 0 2rem 0;
}

.secondary_card_box {
    padding: 1rem 0 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.card_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 6rem 0 3rem 0;
    font-size: 2rem;
    font-family: 'Roboto', serif;
}

.title span {
    background-color: #db5d4d;
    color: white;
    padding: 7px 10px;
    border-radius: 14px;
}

.secondary_title {
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 2rem;
}

.secondary_title span {
    background-color: #db5d4d;
    color: white;
    padding: 7px 10px;
    border-radius: 14px;
}

.secondary_card_wrap {
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

.social_card_wrap {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 100px;

}

.graphics_card_wrap {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 60px;
}


@media (max-width:900px) {

    .social_card_wrap, .graphics_card_wrap {
        gap: 25px 25px;
    }

    .secondary_card_wrap {
        margin-top: 2rem;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
}