.imgBox {
  margin: 0 0 1rem 0;
  width: 99%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.eventImg {
  max-width: 100%;
}

.title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #444;
  padding: 10px 0;
  margin: 0 auto 2rem auto;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 70%;
  background-color: #db5d4d;
  left: 15%;
  bottom: -4px;
}

.title span {
  letter-spacing: -1px;
}

.buttonContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2rem 10px 1rem 10px;
}

.eventContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 1rem auto;
}

.eventbox {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin: 1rem auto;
  padding: 20px 10px;
  font-family: "Roboto", sans-serif;
  background: snow;
  border-top: 1.5px solid rgba(100, 100, 111, 0.2);
  border-bottom: 1.5px solid rgba(100, 100, 111, 0.2);
}

.eventbox:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.eventDesc {
  margin: auto;
}

.eventTitleBanner {
  display: flex;
  align-items: center;
}

.eventLogo {
  height: 76px;
}

.eventTitle {
  font-size: 1.25rem;
  padding: 10px 0;
  width: 330px;
  font-weight: 500;
}

.registrationBtn,
.completionBtn {
  border: 1px solid #db5d4d;
  padding: 6px 8px;
  font-size: 1.2rem;
  width: fit-content;
  cursor: pointer;
  margin: 8px 0;
  color: #fff;
  text-align: center;
  background: #db5d4d;
  transition: all 0.3s ease-in-out;
}

.completionBtn {
  color: white;
  background: green;
  border: 1.6px solid darkgreen;
  cursor: default;
}

.registrationBtn:hover {
  background: #fff;
  color: #db5d4d;
}

.eventDate {
  margin: 0 auto;
}

.eventStart {
  margin: 18.5px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dateTitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #db5d4d;
}

.startDate {
  font-family: "Roboto", sans-serif;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 5px;
}

.noticeBox {
  margin: 4rem auto;
}

@media screen and (max-width: 1250px) {
  .eventContainer {
    max-width: 1100px;
  }

  .eventbox {
    width: 520px;
  }

  .eventTitle {
    font-size: 1.4rem;
    width: 300px;
  }

  .startDate {
    margin: 0 0 0 5px;
  }
}

@media screen and (max-width: 1180px) {
  .eventContainer {
    grid-template-columns: 1fr;
    max-width: 1100px;
  }

  .eventbox {
    width: 580px;
  }

  .eventTitle {
    font-size: 1.4rem;
    width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .eventbox {
    display: grid;
    padding: 10px;
    justify-content: center;
    padding-top: 20px;
    width: 70%;
  }

  .eventTitle {
    width: 330px;
  }

  .eventDesc,
  .eventDate,
  .eventStart {
    display: flex;
    justify-content: space-between;
  }

  .registrationBtn,
  .completionBtn {
    margin: 10px;
    height: fit-content;
  }

  .eventDate {
    margin: 15px auto;
  }

  .eventStart {
    margin: 0px 20px;
  }

  .dateTitle,
  .startDate {
    font-size: 15px;
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .eventTitle {
    width: 310px;
  }

  .eventDate {
    margin: 5px auto;
  }

  .startDate {
    padding-left: 10px;
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .eventbox {
    padding: 10px 10px;
  }

  .eventLogo {
    height: 60px;
  }

  .eventTitle {
    font-size: 1.15rem;
    text-align: center;
  }

  .eventDesc {
    display: grid;
    place-items: center;
  }

  .dateTitle,
  .startDate {
    font-size: 14px;
  }

  .registrationBtn,
  .completionBtn {
    font-size: 14px;
    margin: -2px auto 8px auto;
  }
}

@media screen and (max-width: 600px) {
  .eventbox {
    width: 75%;
  }
}

@media screen and (max-width: 550px) {
  .eventbox {
    width: 80%;
    border-right: 1px solid rgba(100, 100, 111, 0.2);
    border-left: 1px solid rgba(100, 100, 111, 0.2);
    border-top: 3px solid rgba(100, 100, 111, 0.2);
    border-bottom: 3px solid rgba(100, 100, 111, 0.2);
  }

  .eventTitle {
    font-size: 1.15rem;
    width: 325px;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  .registrationBtn {
    margin: 0.5rem 0 1rem 0;
    padding: 7px 10px;
  }
}

@media screen and (max-width: 490px) {
  .eventDesc {
    position: relative;
  }

  .eventTitleBanner {
    flex-direction: column;
    align-items: flex-start;
  }

  .eventTitle {
    font-size: 1rem;
    text-align: center;
    margin-top: -3px;
  }

  .registrationBtn,
  .completionBtn {
    position: absolute;
    right: 70px;
    top: 12px;
    margin: 0;
    font-size: 15px;
  }

  .eventStart {
    margin: 0 10px;
  }

  .startDate {
    padding-left: 8px;
  }

  .eventLogo {
    margin-left: 60px;
  }
}

@media screen and (max-width: 425px) {
  .eventStart {
    margin: 0 5px;
  }

  .eventTitle {
    width: 300px;
  }

  .startDate {
    min-width: 80px;
  }
}

@media screen and (max-width: 400px) {
  .eventStart {
    margin: 0 2px;
  }

  .eventTitle {
    width: 290px;
  }

  .dateTitle,
  .startDate {
    font-size: 12px;
  }
}