.content_section_bg {
    background-color: #F3F2C9;
}

.content_title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 3rem 0 0 1.5rem;
    color: #282828;
    font-family: 'Merriweather', sans-serif;
}

.content_title span {
    color: #db5d4d;
}

.carousal {
    padding: 0 1rem 2rem 1rem;
}

.carousal_title {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4.5rem 1rem 2rem 1rem;
    color: #282828;
    line-height: 3rem;
}

.carousal_title::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #4a4a4a;
}

.carousal_cards {
    padding: 0 1rem;
}

.card {
    width: min-content;
    margin-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}


.card_img img {
    aspect-ratio: 1/1;
    width: 400px;
}

.card_content {
    padding: 1rem;
    background: #fff;
}

.card_title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.postLink {
    color: #db5d4d;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.contentError {
    padding: 0 1rem 2rem 1rem;
    font-size: 1.25rem;
    min-height: 300px;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(135, 9, 9);
}

@media (max-width:1300px) {
    .card_img img {
        width: 350px;
    }
}

@media (max-width:1140px) {
    .card_img img {
        width: 320px;
    }
}

@media (max-width:1140px) {
    .card_img img {
        width: 320px;
    }
}

@media (max-width:800px) {
    .card_img img {
        width: 400px;
    }
}

@media (max-width:600px) {
    .content_section_bg {
        padding: 0 0 2rem 0;
    }

    .content_title {
        font-size: 2.25rem;
        padding: 1.75rem 0 0 1rem;
    }

    .card {
        margin-bottom: 0.75rem;
    }

    .card_img img {
        width: 360px;
    }

    .carousal_title {
        font-size: 1.5rem;
        margin: 2.75rem 0 1.5rem 0;
        font-weight: 700;
    }
}

@media (max-width:510px) {
    .card_img img {
        width: 350px;
    }

    .carousal_cards {
        padding: 0;
    }

}