.achievementPage {
  padding-top: 4.5rem;
  min-height: 100vh;
}

.achievement-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 3rem 1.5rem;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.img-frame {
  display: grid;
  place-items: center;
  position: relative;
}

.img-top {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img-frame:hover .img-top {
  display: block;
  cursor: pointer;
}

.pattern {
  width: 310px;
  margin-top: 0.5rem;
}

.img-frame img {
  max-width: 330px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 10px;
  border-style: solid;
  border-width: 12px;
  border-color: #000;
  border-top-color: rgba(0, 0, 0, .75);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: rgba(0, 0, 0, .75);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}