@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: snow;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px rgba(121, 142, 160, 0.5);
    z-index: 1;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 3rem;
}

.logo-img {
    height: 60px;
    filter: invert(1);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}

.nav-links li {
    margin-left: 1.5rem;
    font-family: 'Roboto', serif;
    font-weight: 400;
    padding: 0.6rem 0.4rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.nav-links li:hover, .nav-links li:focus {
    color: #db5d4d;
    text-shadow: 0px 0px 20px #db5d4d;
    transition: color 0.5s;
}

nav a.active li {
    color: #db5d4d;
    border-bottom: 3px solid #db5d4d;
}

.nav-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 3rem;
}

.nav-ig, .nav-fb, .nav-lik, .nav-yt {
    color: rgba(51, 51, 51, 0.7);
}

.menu-btn {
    display: none;
}

@media (max-width:900px) {
    .nav-icon-wrapper {
        margin-right: 1.5rem;
    }

    .nav-links li {
        margin-left: 1rem;
    }

    .logo {
        margin-left: 1.5rem;
    }
}

.mobile-nav {
    display: none;
}

@media (max-width:780px) {
    .nav-logo {
        margin-left: 1rem;
    }

    .nav-icon-wrapper {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-links {
        flex-direction: column;
        margin: 0 auto;
    }

    .menu-btn {
        display: block;
        margin-right: 2rem;
        font-size: rem;
        cursor: pointer;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        top: 70px;
        right: -100%;
        z-index: 998;
        background-color: #353b48;
        min-width: min(100%, 300px);
        list-style: none;
        padding: 1rem 0;
        transition: 0.4s all;
        height: 100vh;
    }

    .mobile-nav.is-active {
        right: 0%;
    }

    .mobile-nav li {
        text-align: center;
        font-family: 'Roboto', serif;
        font-weight: 400;
        color: white;
        padding-top: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .mobile-nav a.active li {
        color: #db5d4d;
        border: none;
    }

    .mobile-nav li:hover {
        color: #db5d4d;
        transition: color 0.5s all;
    }

    .fa-times-circle, .fa-bars {
        font-size: 2rem;
    }
}