.hero_bg {
    background-color: #FCF8E8;
}

.hero-wrap {
    padding: 3rem 0;
}

.about-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 3rem 0 0 0;
    color: #282828;
    font-family: 'Merriweather', sans-serif;
}

.about-title span {
    color: #db5d4d;
}

.about-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem;
    padding-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #282828;
}

.about-icons {
    padding: 1.25rem 0;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon {
    display: grid;
    place-items: center;
    background-color: #e74c3c;
    padding: 1rem;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fce28bfa;
    border-radius: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    font-family: 'Merriweather', cursive;
    font-weight: 400;
}

.icon-item {
    display: grid;
    place-items: center;
}

.icon-txt {
    font-size: 1.25rem;
    font-family: 'Merriweather',serif;
    text-align: center;
    color: #282828;
    padding: 0 1.5rem;
}

@media (max-width:700px) {
    .about-icons {
        grid-template-columns: 1fr 1fr;
    }

    .icon {
        padding: 0.25rem;
        height: 85px;
        width: 85px;
    }

    .icon-txt {
        font-size: 1rem;
        color: #282828;
    }
}